<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Profile -->
  <div id="profile">
    <img src="https://clipartart.com/images/default-profile-picture-clipart-5.jpg" alt="" width="200">
    <h1>Hi, i'm Alpha</h1>
    <p>this is my bio bla bla bla</p>
  </div>

  <!-- Hobbies -->
  <div id="hobbies">
    <h2>My hobbies</h2>
    <div class="hobbies-list">
      <div class="hobby-item">
        <img src="https://th.bing.com/th/id/R.88580235432092719f0aa0fe82b3ecd5?rik=VysCaNM3e3njKA&riu=http%3a%2f%2fwww.fantaseacharters.com%2fmedia%2fattachments%2fview%2fimg%2fdown_rigging_fishing_rod%2fjpg&ehk=7ACdvAM6O8HEhETPZk1jQyK4MhG0qXytAt9YdLyU0RU%3d&risl=&pid=ImgRaw&r=0" alt="" width="200">
        <h3>Mancing</h3>
      </div>

      <div class="hobby-item">
        <img src="https://th.bing.com/th/id/OIP.r1aTQEVGqiFHbFqvh5H-aQHaHN?pid=ImgDet&rs=1" alt="" width="200">
        <h3>Lari</h3>
      </div>

      <div class="hobby-item">
        <img src="https://th.bing.com/th/id/OIP.4Aha2vSI3oPu8-fKB2x6EAHaE7?pid=ImgDet&rs=1" alt="" width="200">
        <h3>Berenang</h3>
      </div>
    </div>
  </div>

  <!-- Skills -->
  <div id="skills">
    <h2>My Skills</h2>
    <div class="skills-list">
      <div class="skill-item">
        <img src="https://th.bing.com/th/id/OIP.itMGCjNIIpQCN8lUKdEt-gHaE8?pid=ImgDet&rs=1" alt="" width="200">
        <h3>Ngoding</h3>
      </div>

      <div class="skill-item">
        <img src="https://th.bing.com/th/id/OIP.oUGCTBA0R-ulIETSJeKMXwHaFW?w=229&h=180&c=7&r=0&o=5&pid=1.7" alt="" width="200">
        <h3>Designn Grafis</h3>
      </div>
    </div>
  </div>
  
</body>
</html>